/* Variable Definitions */
:root {
    --font-anton: "Anton", sans-serif;
    --font-manrope: "Manrope", sans-serif;
    --color-light-gray: #7A7A7A;
    --color-yellow: #FFD15B;
    --color-grey: #EDEDED;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {
    display: flex;
    justify-content: center;
}

/* Base Styles */
body {
    max-width: 100%;
}

body,
button,
input {
    font-family: var(--font-manrope);
}

h1,
h2,
h3 {
    font-family: var(--font-anton);
}


a {
    color: inherit;
    text-decoration: none;
}

/* Header Styles */

header {
    width: 1440px;
    height: 667px;
}

.bg-image {
    background-image: url('assets/lampos-aritonang-24gR_9lCdes-unsplash\ 1.png');
    object-fit: cover;
    width: 1440px;
    height: 960px;
    flex-shrink: 0;
}



/* Main Content Styles */

main {

    width: 1440px;
}

#main {
    background-color: var(--color-grey);

}


#main h3 {
    font-size: 21px;
    line-height: 31px;
    font-family: 'Anton', sans-serif;
}

.sortSection {
    display: flex;
    align-items: center;
    padding: 17px 16px;
    gap: 63px;
}

.sortBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px 10px 30px;
    width: 195px;
    height: 56px;
    border-radius: 11px;
    background: #ffffff;
}

.sortBox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.totalRecipes {
    text-align: right;
    flex-grow: 1;
    margin-right: 20px;
    font: 20px "Anton";
    width: 110px;
}

.dropdown-search-box {
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 10px;
    background-color: #ffffff;
}

.dropdown-menu {

    width: 195px;
    height: 315px;
    background: #ffffff;
    border-radius: 11px;
    margin-top: 0px;
    min-width: 100%;
    left: 0;
    overflow-y: auto;
    z-index: 15;
    /* Plus élevé que .allTags pour assurer qu'il s'affiche par-dessus */
    position: absolute;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-toggle {
    position: relative;
}

.dropdown-toggle::after {
    content: "";
    display: none !important;
    width: 0.3em;
    height: 0.3em;
    margin-left: 0.5em;
    vertical-align: middle;
    border-top: 0.4em solid;
    border-right: 0.4em solid transparent;
    border-bottom: 0;
    border-left: 0.4em solid transparent;
    transition: transform 0.2s;
}

.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

.dropdown-chevron {
    margin-left: 0.5em;
    vertical-align: middle;
    transition: transform 0.2s;
}

.dropdown-toggle[aria-expanded="true"] .dropdown-chevron {
    transform: rotate(180deg);
}

.sortBox .fa-chevron-down {
    position: absolute;
    top: 50%;
    right: -70px;
    transform: translateY(-50%);
}

.input-group {


    height: 62px;
    flex-shrink: 0;

}

.input-group-append {
    position: absolute;
    top: 12px;
    right: 0;
    bottom: 0;

}

#utensilSearchInput,
#ingredientSearchInput,
#applianceSearchInput {
    display: flex;

    justify-content: center;
    align-items: center;


    border: #7A7A7A 0.5px solid;
    border-radius: 2px;

    margin-top: 10px;
    margin-bottom: 15px;
}

#ingredientDropdownItems li,
#applianceDropdownItems li,
#utensilDropdownItems li {
    text-decoration-line: none;
    font: 400 14px "Manrope";
    color: #1b1b1b;
    line-height: 25px;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

/* Tags */
.allTags {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: auto;
    width: auto;
    z-index: 10;
    /* S'assure qu'il est inférieur à .dropdown-menu */
    position: relative;
    justify-content: left;
    margin: 17px 0;
    padding-top: 21px;
    gap: 16px;
}

.tag {

    display: inline-flex;
    padding: 17px 18px;
    align-items: center;
    gap: 60px;
    border-radius: 10px;
    background: var(--color-yellow);

}

.close-tag {
    font-weight: bold;
    font-size: larger;
}

.allIngTags,
.allAppTags,
.allUteTags {
    display: flex;
    flex-wrap: wrap;

}

.allIngTags .tag,
.allAppTags .tag,
.allUteTags .tag {
    width: auto;
    border-radius: 10px;
    margin: 10px;
    padding: 15px 25px;
    text-align: left;
}

.close,
.fa-times {
    margin-left: 20px;
    margin-right: 0;
    cursor: pointer;
    color: #1b1b1b;
}





/* Cards */

.card {
    border-radius: 21px;
    background: #FFF;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
    width: 380px;
    height: 731px;
    flex-shrink: 0;
}

.card-title {
    font-family: 'Anton', sans-serif;
}

.card-subtitle {
    color: gray;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-img-top {

    border-radius: 21px 21px 0 0;
    object-fit: cover;
    width: 380px;
    height: 253px;
    flex-shrink: 0;
}

.card-recipe-time {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background-color: var(--color-yellow);
    border-radius: 2rem;
}

.card-text {
    width: 330px;
    font: 14px "Manrope";
    line-height: 19px;
    color: #1b1b1b;
    height: 76px;
    overflow-y: auto;
}

.card-ingredient {
    font-size: 14px;
}

/* Style pour l'élément sélectionné */
.selected-item {
    background-color: var(--color-yellow);

    margin: 10px 0;

}

#recipes {
    margin: 19px 35px 0 35px;

    padding-bottom: 21px;
}

.text-center {
    text-align: center;
    font-family: Anton;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}